.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  width: 1em;
}

.icon-check {
  font-size:(18/10)*1rem;
  width:(18/18)*1em;
}
.icon-menu {
  font-size:(18/10)*1rem;
  width:(18/18)*1em;
}
.icon-plus {
  font-size:(18/10)*1rem;
  width:(18/18)*1em;
}
