<aside class="sidebar msie11">
    <div class="sidebar__section sidebar__section--header">
        <div class="menu-icon">
            <svg class="icon icon-menu">
                <use xlink:href="../img/svg-icons/svg-icons.svg#menu"></use>
            </svg>
        </div>
        <span class="logo">omnigon</span>
        <div class="btn-wrap btn-wrap--sidebar">
            <button class="btn">New vote</button>
        </div>
    </div>

    <div class="sidebar__section">
        <h3 class="sidebar__section-title">Draft</h3>
        <a href="#" class="sidebar__item active">
            <div class="sidebar__item-img">
            </div>
            <h4 class="sidebar__item-title">New vote</h4>
        </a>

        <a href="#" class="sidebar__item">
            <img class="sidebar__item-img" src="../img/sidebar-item-1@1x.png"
                 srcset="../img/sidebar-item-1@2x.png 2x, ../img/sidebar-item-1@3x.png 3x"
                 alt="Sidebar item picture" width="48" height="48">
            <h4 class="sidebar__item-title">Serie A Footballer of the Year</h4>
        </a>
    </div>

    <div class="sidebar__section">
        <h3 class="sidebar__section-title">Active</h3>
        <a href="#" class="sidebar__item">
            <img class="sidebar__item-img" src="../img/sidebar-item-2@1x.png"
                 srcset="../img/sidebar-item-2@2x.png 2x, ../img/sidebar-item-2@3x.png 3x"
                 alt="Sidebar item picture" width="48" height="48">
            <h4 class="sidebar__item-title">Unleash a Jaguar</h4>
        </a>
        <a href="#" class="sidebar__item">
            <img class="sidebar__item-img" src="../img/sidebar-item-3@1x.png"
                 srcset="../img/sidebar-item-3@2x.png 2x, ../img/sidebar-item-3@3x.png 3x"
                 alt="Sidebar item picture" width="48" height="48">
            <h4 class="sidebar__item-title">Choose best Wimbledon player and win tickets to the finals</h4>
        </a>
        <a href="#" class="sidebar__item">
            <img class="sidebar__item-img" src="../img/sidebar-item-4@1x.png"
                 srcset="../img/sidebar-item-4@2x.png 2x, ../img/sidebar-item-4@3x.png 3x"
                 alt="Sidebar item picture" width="48" height="48">
            <h4 class="sidebar__item-title">2015 Music Moments</h4>
        </a>
    </div>

    <div class="sidebar__section">
        <h3 class="sidebar__section-title">Closed</h3>
        <a href="#" class="sidebar__item">
            <img class="sidebar__item-img" src="../img/sidebar-item-5@1x.png"
                 srcset="../img/sidebar-item-5@2x.png 2x, ../img/sidebar-item-5@3x.png 3x"
                 alt="Sidebar item picture" width="48" height="48">
            <h4 class="sidebar__item-title">All time greats</h4>
        </a>
        <a href="#" class="sidebar__item">
            <img class="sidebar__item-img" src="../img/sidebar-item-6@1x.png"
                 srcset="../img/sidebar-item-6@2x.png 2x, ../img/sidebar-item-6@3x.png 3x"
                 alt="Sidebar item picture" width="48" height="48">
            <h4 class="sidebar__item-title">Insane Dunks</h4>
        </a>
        <a href="#" class="sidebar__item">
            <img class="sidebar__item-img" src="../img/sidebar-item-7@1x.png"
                 srcset="../img/sidebar-item-7@2x.png 2x, ../img/sidebar-item-7@3x.png 3x"
                 alt="Sidebar item picture" width="48" height="48">
            <h4 class="sidebar__item-title">2014 Music Moments</h4>
        </a>
    </div>
</aside>