<div class="tabs">
    <ul class="tabs__list">
        <li class="tabs__item">Detail</li>
        <li class="tabs__item active">Content</li>
        <li class="tabs__item">Ads</li>
        <li class="tabs__item">Data capture</li>
        <li class="tabs__item">Look and feel</li>
    </ul>
    <div class="tabs__filter">
        <label class="checkbox" for="checkbox">
            <span class="checkbox__text">Present in random order</span>
            <input type="checkbox" class="checkbox__custom" id="checkbox"/>
            <label for="checkbox"></label>
        </label>
    </div>
    <div class="tabs__content">
        <div class="tabs__info">
            <div class="tabs__info-icon">
                <svg class="icon icon-check">
                    <use xlink:href="../img/svg-icons/svg-icons.svg#check"></use>
                </svg>
            </div>
            <div class="tabs__info-text">
                Embed at least 2 players*
            </div>
        </div>

        <div class="profiles-wrap">
            <div class="profile">
                <img class="profile__img" src="../img/derozan@1x.jpg"
                     srcset="../img/derozan@2x.jpg 2x, ../img/derozan@3x.jpg 3x"
                     alt="Profile image">
                <div class="profile__name">DeMar DeRozan</div>
            </div>
            <div class="profile">
                <img class="profile__img" src="../img/curry@1x.jpg"
                     srcset="../img/curry@2x.jpg 2x, ../img/curry@3x.jpg 3x"
                     alt="Profile image">
                <div class="profile__name">Stephen Curry</div>
            </div>
            <div class="profile">
                <img class="profile__img" src="../img/durant@1x.jpg"
                     srcset="../img/durant@2x.jpg 2x, ../img/durant@3x.jpg 3x"
                     alt="Profile image">
                <div class="profile__name">Kevin Durant</div>
            </div>
            <div class="profile">
                <img class="profile__img" src="../img/harden@1x.jpg"
                     srcset="../img/harden@2x.jpg 2x, ../img/harden@3x.jpg 3x"
                     alt="Profile image">
                <div class="profile__name">James Harden</div>
            </div>
            <div class="profile">
                <img class="profile__img" src="../img/jordan@1x.jpg"
                     srcset="../img/jordan@2x.jpg 2x, ../img/jordan@3x.jpg 3x"
                     alt="Profile image">
                <div class="profile__name">DeAndre Jordan</div>
            </div>
            <div class="profile">
                <img class="profile__img" src="../img/westbrook@1x.jpg"
                     srcset="../img/westbrook@2x.jpg 2x, ../img/westbrook@3x.jpg 3x"
                     alt="Profile image">
                <div class="profile__name">Russell Westbrook</div>
            </div>
            <div class="profile">
                <img class="profile__img" src="../img/parsons@1x.jpg"
                     srcset="../img/parsons@2x.jpg 2x, ../img/parsons@3x.jpg 3x"
                     alt="Profile image">
                <div class="profile__name">Chandler Parsons</div>
            </div>
            <div class="profile">
                <img class="profile__img" src="../img/faried@1x.jpg"
                     srcset="../img/faried@2x.jpg 2x, ../img/faried@3x.jpg 3x"
                     alt="Profile image">
                <div class="profile__name">Kenneth Faried</div>
            </div>
            <div class="profile">
                <img class="profile__img" src="../img/hayward@1x.jpg"
                     srcset="../img/hayward@2x.jpg 2x, ../img/hayward@3x.jpg 3x"
                     alt="Profile image">
                <div class="profile__name">Gordon Hayward</div>
            </div>
            <div class="profile">
                <img class="profile__img" src="../img/conley@1x.jpg"
                     srcset="../img/conley@2x.jpg 2x, ../img/conley@3x.jpg 3x"
                     alt="Profile image">
                <div class="profile__name">Mike Conley</div>
            </div>
            <div class="profile">
                <img class="profile__img" src="../img/howard@1x.jpg"
                     srcset="../img/howard@2x.jpg 2x, ../img/howard@3x.jpg 3x"
                     alt="Profile image">
                <div class="profile__name">Dwight Howard</div>
            </div>
            <div class="profile">
                <img class="profile__img" src="../img/placeholder@1x.jpg"
                     srcset="../img/placeholder@2x.jpg 2x, ../img/placeholder@3x.jpg 3x"
                     alt="Profile image">
                <div class="profile__name">Trey Burke</div>
            </div>
            <div class="profile profile--add">
                <div class="profile__img profile__img--add">
                    <div class="profile__img-icon">
                        <svg class="icon icon-plus">
                            <use xlink:href="../img/svg-icons/svg-icons.svg#plus"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="profile profile--add">
                <div class="profile__img profile__img--add">
                    <div class="profile__img-icon">
                        <svg class="icon icon-plus">
                            <use xlink:href="../img/svg-icons/svg-icons.svg#plus"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="profile profile--add">
                <div class="profile__img profile__img--add">
                    <div class="profile__img-icon">
                        <svg class="icon icon-plus">
                            <use xlink:href="../img/svg-icons/svg-icons.svg#plus"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="profile profile--add">
                <div class="profile__img profile__img--add">
                    <div class="profile__img-icon">
                        <svg class="icon icon-plus">
                            <use xlink:href="../img/svg-icons/svg-icons.svg#plus"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="profile profile--add">
                <div class="profile__img profile__img--add">
                    <div class="profile__img-icon">
                        <svg class="icon icon-plus">
                            <use xlink:href="../img/svg-icons/svg-icons.svg#plus"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="profile profile--add">
                <div class="profile__img profile__img--add">
                    <div class="profile__img-icon">
                        <svg class="icon icon-plus">
                            <use xlink:href="../img/svg-icons/svg-icons.svg#plus"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="profile profile--add">
                <div class="profile__img profile__img--add">
                    <div class="profile__img-icon">
                        <svg class="icon icon-plus">
                            <use xlink:href="../img/svg-icons/svg-icons.svg#plus"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="profile profile--add">
                <div class="profile__img profile__img--add">
                    <div class="profile__img-icon">
                        <svg class="icon icon-plus">
                            <use xlink:href="../img/svg-icons/svg-icons.svg#plus"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>